    * {
        margin-right: 0;
        margin-left: 0;
    }
    
     ::-webkit-scrollbar {
        display: none;
    }
    
     :root {
        --primario: #E7E6E1;
        --secundario: #F7F6E7;
        --terciario: #F2A154;
        --cuarto: #112d4e;
        --font: Helvetica;
        --title: 3rem
    }
    
    html,
    body {
        background-color: var(--primario);
        font-family: var(--font);
        height: 100%;
        scroll-behavior: smooth;
        padding: 0;
    }
    /*** INICIO (Nombre y Slogan) ***/
    
    #inicio {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .texto{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 20em;
        width: 50%;
    }

    .gif{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        
    }

    .gif img{
        width: 500px;
        margin-left: 80px;
    }
    
    .nombre {
        color: var(--cuarto);
        font-size: 15rem;
        margin-bottom: 0px;
        font-weight: 600;
        margin-top: 5rem;
    }
    
    .segundaParte {
        color: var(--terciario);
        animation-delay: 1.5s;
    }
    
    .eslogan {
        font-size: 5rem;
        font-weight: lighter;
        color: var(--cuarto);
        text-align: right;
        margin-right: 20px;
        margin-top: 0px;
        opacity: 0;
        animation: revealEslogan 1s forwards;
        animation-delay: 1s;
    }
    
    .mostrarTitulo {
        opacity: 0;
        animation: revealText 2s forwards;
    }
    
    section#inicio {
        height: 100%;
        background-size: cover;
    }
    
    #inicio a span {
        position: absolute;
        bottom: 10%;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 1px solid var(--cuarto);
        border-bottom: 1px solid var(--cuarto);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb04 2s infinite;
        animation: sdb04 2s infinite;
        box-sizing: border-box;
    }
    
    @-webkit-keyframes sdb04 {
        0% {
            -webkit-transform: rotate(-45deg) translate(0, 0);
        }
        20% {
            -webkit-transform: rotate(-45deg) translate(-10px, 10px);
        }
        40% {
            -webkit-transform: rotate(-45deg) translate(0, 0);
        }
    }
    
    @keyframes sdb04 {
        0% {
            transform: rotate(-45deg) translate(0, 0);
        }
        20% {
            transform: rotate(-45deg) translate(-10px, 10px);
        }
        40% {
            transform: rotate(-45deg) translate(0, 0);
        }
    }
    
    @keyframes revealText {
        form {
            transform: translateY(-100px);
        }
        to {
            opacity: 1;
            transform: none;
        }
    }
    
    @keyframes revealEslogan {
        to {
            opacity: 1;
        }
    }
    /*** CONTENIDO DE LA PÁGINA ***/
    
    .content {
        margin: 0 15rem;
    }
    
    .svg {
        display: flex;
        flex-direction: column;
    }
    /* Social Media */
    
    .social_media {
        background: var(--secundario);
        display: inline-flex;
        flex-direction: column;
        left: 0;
        padding: 5px;
        box-shadow: 0 4px 7px rgb(0 0 0 / 30%);
        position: fixed;
        top: 50%;
        border-radius: 0 15px 15px 0;
    }
    
    .social_media a {
        text-decoration: none;
        margin: 20px 10px;
    }
    
    .social_media a svg {
        width: 20px;
        height: 20px;
        fill: #000;
    }
    
    .social_media a:hover {
        transform: scale(1.5);
        transition: .5s;
    }
    
    .social_media a:nth-child(1) svg:hover,
    .social_media a:nth-child(3) svg:hover {
        fill: rgb(20, 216, 40);
        transition: .5s;
    }
    
    .social_media a:nth-child(2) svg:hover {
        fill: rgb(54, 54, 215);
        transition: .5s;
    }
    /*** QUIENES SOMOS ***/
    
    .quienesSomos {
        margin: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .quienesSomos h3 {
        font-size: var(--title);
        color: var(--cuarto);
    }
    
    .quienesSomos p {
        text-align: justify;
        font-size: 1.5rem;
        line-height: 3.5rem;
        color: var(--cuarto);
    }
    /*** SERVICIOS ***/
    
    .servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0px;
    }
    
    .servicios h3 {
        font-size: var(--title);
        color: var(--cuarto);
    }
    /* Caja de SERVICIOS */
    
    .cajaServicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        width: 100%;
        gap: 3em;
        /* Cambiar espacio entre cuadros */
        color: var(--cuarto);
    }
    
    .servicio {
        display: flex;
        justify-content: center;
        justify-self: center;
        align-items: center;
        aspect-ratio: 1;
        width: 100%;
        /*Este se puede editar para hacer los cuadrados más pequeños*/
        /*border: 2px solid var(--cuarto);
    box-shadow: 3px 3px 0px;*/
        outline: none;
        color: var(--cuarto);
    }
    
    .content-servicio {
        margin: 0;
        height: 100%;
        width: 100%;
        /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);*/
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    
    .servicio:hover .content-servicio {
        transform: rotateY( 180deg);
        transition: transform 0.5s;
    }
    
    .front,
    .back {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: var(--primario);
        backface-visibility: hidden;
        border-radius: 5%;
        /*border: 4px solid var(--cuarto);*/
        color: var(--cuarto);
        font-size: 1.5em;
        font-weight: bold;

    }
    
    .back {
        background: var(--cuarto);
        color: var(--primario);
        transform: rotateY( 180deg);
    }
    /*** PORTAFOLIO ***/
    
    .clientes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0px;
    }
    
    .clientes h3 {
        font-size: var(--title);
        color: var(--cuarto);
    }
    
    .slides {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 1em;
    }
    
    .slides img {
        max-width: 10%;
        display: inline-block;
    }
    /*** CONTACTO ***/
    
    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0px;
    }
    
    .contacto h3 {
        font-size: var(--title);
        color: var(--cuarto);
    }
    
    .contacto form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
    .contacto input {
        width: 100%;
        min-width: none;
        height: 2.5em;
        border: none;
        /*border: 2px solid var(--cuarto);*/
        border-radius: 4px;
        /*box-shadow: 2px 2px 0px;*/
        outline: 4px solid var(--cuarto);
        font-size: 1em;
        background-color: var(--cuarto);
    }
    /*
.contacto input:focus {
    border: 2px solid var(--terciario);
}

.contacto textarea:focus {
    border: 2px solid var(--terciario);
}*/
    
    .contacto textarea {
        width: 100%;
        border: none;
        border-radius: 4px;
        padding-top: 10px;
        /*border: 2px solid var(--cuarto);*/
        /*box-shadow: 3px 3px 0px;*/
        outline: 4px solid var(--cuarto);
        font-family: var(--font);
        font-size: 1em;
        resize: none;
        background-color: var(--cuarto);
    }
    
    .elementosForm {
        display: grid;
        grid-column: auto;
        grid-template-areas: "name email" "comment comment";
        align-items: center;
        gap: 3em;
    }
    
    .txtboton {
        font-size: 1rem;
    }
    
    .button {
        align-self: flex-end;
        position: relative;
        width: 100px;
        height: 3rem;
        background-color: transparent;
        border: 4px solid var(--cuarto);
        color: var(--cuarto);
        border-radius: 4px;
        cursor: pointer;
        transition: width .5s;
        border-radius: .5s;
        /*border: 2px solid var(--cuarto);
    background-color: var(--terciario);
    padding: 15px 32px;
    box-shadow: 3px 3px 0px;
    outline: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    color: var(--cuarto);*/
    }
    
    .button * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity .25s;
    }
    
    .icon {
        opacity: 0;
    }
    
    .button:focus {
        width: 50px;
        border-radius: 50%;
        background-color: var(--cuarto);
        border: 2px solid var(--cuarto);
        animation-delay: 3s;
    }
    
    .button:focus .txtboton {
        opacity: 0;
    }
    
    .button:focus .icon {
        opacity: 1;
        transition-delay: .5s;
    }
    /*
.contacto button:hover{
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0px;

}
*/

    .contacto label {
        font-size: 1rem;
        color: var(--primario);
    }
    /*** PIE DE PÁGINA ***/
    
    .piePagina {
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--cuarto);
    }
    /*** NAVBAR ***/
    
    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .ocultar {
        display: none;
        transform: scale(.8);
    }
    
    .fixed {
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100%;
        background-color: var(--primario);
        opacity: .8;
    }
    
    .navbar ul {
        display: flex;
        list-style-type: none;
        gap: 3em;
        align-items: center;
    }
    
    .navbar a {
        text-decoration: none;
        color: var(--cuarto);
    }
    
    .navbar li {
        display: inline;
    }
    
    .navbar h4 {
        color: var(--cuarto);
        font-size: 2rem;
        margin: 0;
    }
    
    .navbar span {
        color: var(--terciario);
    }
    /* TRABJANDO EN ESTOOO*/
    
    .formName {
        display: flex;
        flex-direction: column;
        grid-column: name;
        gap: 0.5em;
        position: relative;
    }
    
    .formEmail {
        display: flex;
        flex-direction: column;
        grid-column: email;
        gap: 0.5em;
        position: relative;
    }
    
    .formComment {
        display: flex;
        flex-direction: column;
        grid-column: comment;
        gap: 0.5em;
        position: relative;
    }
    
    .nameLabel,
    .emailLabel,
    .commentLabel {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(10px, 12px);
        transition: transform .25s;
        color: var(--primario);
    }
    
    .nameInput:focus+.nameLabel,
    .nameInput:valid+.nameLabel {
        transform: translate(10px, -9px) scale(.8);
        padding-inline: 5px;
        background-color: var(--primario);
        color: var(--cuarto);
    }
    
    .emailInput:focus+.emailLabel,
    .emailInput:valid+.emailLabel {
        transform: translate(10px, -9px) scale(.8);
        padding-inline: 5px;
        background-color: var(--primario);
        color: var(--cuarto);
    }
    
    .commentInput:focus+.commentLabel,
    .commentInput:valid+.commentLabel {
        transform: translate(8px, -8px) scale(.8);
        padding-inline: 5px;
        background-color: var(--primario);
        color: var(--cuarto);
    }
    
    .nameInput:is(:focus, :valid) {
        outline-color: var(--cuarto);
        background-color: var(--primario);
    }
    
    .emailInput:is(:focus, :valid) {
        outline-color: var(--cuarto);
        background-color: var(--primario);
    }
    
    .commentInput:is(:focus, :valid) {
        outline-color: var(--cuarto);
        background-color: var(--primario);
    }

    /* Media Querys (Responsive) */    
    
    @media (max-width: 900px) {
        .content {
            margin: 0 1rem;
        }
        .cajaServicios {
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
            width: 100%;
        }
        .elementosForm {
            grid-template-areas: "name" "email" "comment";
        }
        .navbar {
            display: none;
        }
        #inicio {
            max-width: 100%;
            flex-direction: column-reverse;
            justify-content: flex-end;
        }
        .texto{
            width: 100%;
            margin-top: 0;
        }
        .nombre {
            font-size: 6rem;
        }
        .eslogan {
            font-size: 2rem;
        }
        #inicio a span {
            bottom: 10%;
        }
        .gif img{
            width: 300px;
        }
    }
    
    @media (max-width: 300px) {
        .content {
            margin: 0;
        }
        .cajaServicios {
            grid-template-columns: repeat(1, 1fr);
            gap: 1em;
        }
        .contacto button {
            width: 100%;
        }
        #inicio {
            max-width: 100%;
            align-items: center;
        }
        .nombre {
            font-size: 5rem;
        }
        .eslogan {
            font-size: 2rem;
            text-align: center;
        }
    }