* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}
:root {
    --primario: #E7E6E1;
    --secundario: #F7F6E7;
    --terciario: #F2A154;
    --cuarto: #112d4e;
    --font: Helvetica;
    --title: 2.5rem
}
html, body {
    background-color: var(--primario);
    font-family: var(--font);
    height: 100%;
}

/*** INICIO (Nombre y Slogan) ***/

#inicio {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nombre {
    color: var(--cuarto);
    font-size: 15rem;
    margin-bottom: 0px;
    font-weight: 600;
    margin-top: 5rem;
    margin-right: 10px;
}


.segundaParte {
    color: var(--terciario);
    animation-delay: 1.5s;
}

.eslogan{
    font-size: 5rem;
    font-weight: lighter;
    color: var(--cuarto);
    text-align: right;
    margin-right: 20px;
    margin-top: 0px;
    opacity: 0;
    animation: revealEslogan 1s forwards;
    animation-delay: 1s;       
}

.mostrarTitulo{
    opacity: 0;
    animation: revealText 2s forwards;
}
section#inicio{
    height: 100%;
    background-size: cover;
}


#inicio a span {
    position: absolute;
    bottom: 35px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes sdb04 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes revealText{
    form{
        transform: translateY(-100px);
    }to{
        opacity: 1;
        transform: none;
    }
}

@keyframes revealEslogan{
    to{
        opacity: 1;
    }
}

/*** CONTENIDO DE LA PÁGINA ***/
.content {
    margin: 0 10rem;
}


/*** QUIENES SOMOS ***/
.quienesSomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.quienesSomos h3 {
    font-size: var(--title);
}

.quienesSomos p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 3.5rem;
}

/*** SERVICIOS ***/
.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios h3 {
    font-size: var(--title);
}

/* Caja de SERVICIOS */
.cajaServicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 100%;
    gap: 1em; /* Cambiar espacio entre cuadros */
}

.servicio {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    aspect-ratio: 1;
    width: 100%; /*Este se puede editar para hacer los cuadrados más pequeños*/
    border: 2px solid var(--cuarto);
    box-shadow: 3px 3px 0px;
    outline: none;
}


/*** PORTAFOLIO ***/
.portafolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portafolio h3 {
    font-size: var(--title);
}

.slides {}


/*** CONTACTO ***/

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto h3 {
    font-size: var(--title);
}

.contacto form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contacto input {
    width: 100%;
    min-width: none;
    height: 2.5em;
    border: 2px solid var(--cuarto);
    box-shadow: 2px 2px 0px;
    outline: none;
    font-size: 1em;
}

/*
.contacto input:focus {
    border: 2px solid var(--terciario);
}

.contacto textarea:focus {
    border: 2px solid var(--terciario);
}*/

.contacto textarea {
    width: 100%;
    border: 2px solid var(--cuarto);
    box-shadow: 3px 3px 0px;
    outline: none;
    font-family: var(--font);
    font-size: 1em;
    resize: none;
}

.elementosForm {
    display: grid;
    grid-column: auto;
    grid-template-areas: "name email" "comment comment";
    gap: 1em;
}

.formName {
    display: flex;
    flex-direction: column;
    grid-column: name;
    gap: 0.5em;
}

.formEmail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: email;
    gap: 0.5em;

}

.formComment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: comment;
    gap: 0.5em;

}

.contacto button {
    align-self: flex-end;
    border: 2px solid var(--cuarto);
    background-color: var(--terciario);
    padding: 15px 32px;
    box-shadow: 3px 3px 0px;
    outline: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
}

.contacto button:hover{
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0px;

}


.contacto label{
    font-size: 1rem;
}


/*** PIE DE PÁGINA ***/

.piePagina {
    display: flex;
}


/*** NAVBAR ***/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem;

    /*Cambiar para agregar la animación*/
    position: sticky; 
    top: 10px;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    gap: 3em;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color: var(--cuarto);
    
}

.navbar li {
    display: inline;
}

.navbar h4 {
    color: var(--cuarto);
    font-size: 2rem;
    margin: 0;
}

.navbar span{ 
    color: var(--terciario);
}

.piePagina{
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 900px) {
    .content {
        margin: 0 1rem;
    }
    .cajaServicios {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
    .elementosForm {
        grid-template-areas: "name" "email" "comment";
    }

    .navbar {
        display: none;
    }

    #inicio {
       max-width: 100%;
    }

    .nombre {
        font-size: 6rem;
    }

    .eslogan{
        font-size: 2rem;
        
    }

}

@media (max-width: 300px) {
    .content {
        margin: 0;
    }
    .cajaServicios {
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
    }
    .contacto button {
        width: 100%;
    }

    #inicio {
        max-width: 100%;
        align-items: center;
     }
 
     .nombre {
         font-size: 5rem;
     }
 
     .eslogan{
         font-size: 2rem;
         text-align: center;
     }
}



