:root{
    --offset: 6px;
}

.word_rotation{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 100vh;
    margin-right: 20px;
    opacity: 0;
    animation: mostrarPalabras 1s forwards;
    animation-delay: 1s;
}

@keyframes mostrarPalabras{
  to{
    opacity: 1;
  }
}

.word_rotation h2{
  margin-top: 0;
  text-align: end;
  width: 980px;
  font-size: 100px;
  font-family: Helvetica;
  line-height: 1.06;
  letter-spacing: -0.02em;
  color: #1d1d1f;
}

.mask {
    height: 106px;
    position: relative;
    overflow: hidden;
    margin-top: var(--offset);

    display: flex;
    justify-content: flex-end;
  }
  
  .mask span {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    padding-bottom: var(--offset);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
  }
  
  .mask span[data-show] {
    transform: translateY(-100%);
    transition: 0.5s transform ease-in-out;
  }
  
  .mask span[data-up] {
    transform: translateY(-200%);
    transition: 0.5s transform ease-in-out;
  }
  
  .mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
  }
  
  .mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
  }
  
  .mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
  }
  
  .mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
  }